<!DOCTYPE html>
<html lang="en" style="height: 100%">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>Document</title>
</head>

<body>
    <div id="body">

        <div id="login-container">
            <div id="logo">
                Flipbook</div>
            <div id="sign-up">
                Sign up</div>
            <form action="login.php" method="post">
                <div id="login-form">
                    <input type="text" id="username" name="username" placeholder="E-mail" required>
                    <div class="password-toggle">
                        <input type="password" name="password" id="password" placeholder="Hasło">
                        <div class="toggle-button" onclick="togglePassword()">👁️</div>
                    </div>
                    <button type="submit">Zaloguj</button>

                </div>
            </form>
            <script>
                function togglePassword() {
                    const passwordInput = document.getElementById('password');
                    if (passwordInput.type === 'password') {
                        passwordInput.type = 'text';
                    } else {
                        passwordInput.type = 'password';
                    }
                }
            </script>
            <div id="have-account-row">
                <div id="have-account">
                    Dov you already have an account? </div>
                <div id="have-account-answer">
                    Sign In</div>
            </div>
        </div>
    </div>
</body>

</html>