<!DOCTYPE html>
<html lang="en" style="height: 100%">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>Document</title>
</head>

<body>
    <div id="body">

        <div id="login-container">
            <div id="logo">
                Flipbook</div>
            <div id="sign-up">
                Sign up</div>
            <div id="login-form">
                <div id="over-input">
                    <div id="input"> </div>
                    <div id="hint-text"> E-mail</div>
                </div>
                <div id="over-input">
                    <div id="input"> </div>
                    <div id="hint-text"> Password</div>
                </div>

            </div>
            <div id="primary-button-bg">
                <div id="primary-button-text">
                    Sign up</div>
            </div>
            <div id="have-account-row">
                <div id="have-account">
                    Dov you already have an account? </div>
                <div id="have-account-answer">
                    Sign In</div>
            </div>
        </div>
    </div>
</body>

</html>