.page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 24px;
    padding: 24px;

}

.book-image {
    width: 252px;
    height: 361.07px;
    object-fit: cover;
    border-radius: 16px
}

.details {
    display: flex;
    flex-direction: row;
    gap: 64px;
    justify-content: center;
    align-items: center;
}



.info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: start;
    justify-content: start;
}

.custom-icon {
    color: var(--primary-color);
    font-size: 30px !important;
}

.review-icon {
    color: var(--primary-color);
    font-size: 20px !important;
}

.description {
    color: var(--gray-800, #565673);
    text-align: center;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    padding-left: 120px;
    padding-right: 120px;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0px 0px 10px 0px rgba(164, 180, 218, 0.40);
    width: 100%;
    padding: 16px;
    align-items: center;
    gap: 24px;
    box-sizing: border-box;
    text-overflow: ellipsis;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-overflow: ellipsis;
    overflow: hidden;
    box-sizing: border-box;
    height: 120px;
    width: 100%;
}

.review-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-overflow: ellipsis;
    overflow: hidden;
    box-sizing: border-box;
    height: 120px;
    width: 100%;
    gap: 12px;
}

.review-stars{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 8px;

}




.stars {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    align-items: center;
}

.imagePreview {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}