.create-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    width: 100%;
    max-width: 800px;
    padding-bottom: 24px;
    box-sizing: border-box;


}

body {
    margin: 0;
    width: 100%;
    background: #EEF0F8;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    display: inline-flex;
}

.checkboxContainer {
    max-height: 200px;
    /* Ustaw maksymalną wysokość */
    overflow-y: auto;
    /* Dodaj pasek przewijania w pionie */
    width: 100%;
    box-sizing: border-box;
}

#addAuthorForm {
    margin-top: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

#addAuthorForm label {
    display: block;
    margin-bottom: 10px;
}

.add-author {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 24px;

}

.add-author-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 100%;
    padding-bottom: 24px;
    text-align: center;

}

.create-form {
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    display: flex;
}

.image-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;

}

/* Hidden input[type="file"] element */
input[type="file"] {
    display: none;
}

/* Styled button that acts as a "Choose File" button */
.custom-file-input {
    background-color: var(--secondary-color);
    color: #fff;
    padding: 10px 15px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    cursor: pointer;
}

/* Style the label text for the "Choose File" button */
.custom-file-input-label {
    font-size: 16px;
}

#imagePreview img {
    width: 150px;
    height: 200px;
    object-fit: cover;
    overflow: hidden;
}

@media screen and (max-width: 780px) {
    .create-form {
        padding-top: 24px;
    }

}