.profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 24px;
    padding-top: 24px;
}

.image-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;

}

input[type="file"] {
    display: none;
}

.placeholder-image {
    width: 120px;
    height: 120px;
    background-color: #ccc;
    border-radius: 50%;
}

.avatar-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}

#imagePreview img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

#imagePreview {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}


.image-section {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: end;

}

.list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: stretch;
    width: 100vw;
    padding: 24px;
    box-sizing: border-box;

}

.card {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0px 0px 10px 0px rgba(164, 180, 218, 0.40);
    width: 100%;
    height: 160px;
    padding: 16px;
    align-items: center;
    gap: 24px;
    box-sizing: border-box;
    text-overflow: ellipsis;


}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 120px;
    width: 100%;

}

.card-header {
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding: 0px;
}

.stars {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    align-items: center;

}

.profile-card-right-side{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 24px;
    height: 100%;
}

.profile-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 450px;
    padding-left: 48px;
    padding-right: 48px;
    box-sizing: border-box;
}

.selected-profile-menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.not-selected-profile-menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.not-selected-profile-menu-item .inter-semibold-16 {
    font-weight: 400;
}

.not-selected-profile-menu-item .custom-icon {
    color: var(--secondary-color);
}

.icon-background {
    width: 90px;
    height: 90px;
    background-color: #FBFCFE;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.custom-icon {
    color: var(--primary-color);
    font-size: 50px !important;
}


@media screen and (max-width: 780px) {
    .profile-card-right-side{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
        height: 100%;
    }

    .card{
        gap: 8px;
    }

}